In [1]:
import pandas as pd
import numpy as np

In [2]:
dfs = [pd.read_csv(f"batch_{i}.csv") for i in range(5)]
final_df = pd.concat(dfs)
final_df.to_csv("new_data_2.csv", index=False)

In [3]:
final_df

,Tg_scat,Tg_abs,AOD,SSA,g1,Z,Zenith_Angle,reflectance,BOA_RT
0,0.296167,0.036885,0.573410,0.940937,0.916053,1524,71,0.700068,0.125221
1,0.309415,0.096529,0.569868,0.942022,0.915627,1524,71,0.755827,0.945519
2,0.322689,0.205904,0.566338,0.943120,0.915201,1524,71,0.184661,4.978566
3,0.335800,0.336993,0.562821,0.944232,0.914775,1524,71,0.721911,23.378361
4,0.348900,0.448544,0.559491,0.945190,0.914349,1524,71,0.788335,54.669118
...,...,...,...,...,...,...,...,...,...
300495,0.996800,0.960628,0.095363,0.841514,0.936086,134,32,0.204588,937.545168
300496,0.996800,0.965511,0.094750,0.840490,0.935950,134,32,0.698400,948.623464
300497,0.996900,0.989428,0.094091,0.839372,0.935815,134,32,0.676414,975.688630
300498,0.996900,0.958618,0.093542,0.839514,0.935679,134,32,0.746254,941.541184
300499,0.997000,0.977927,0.092883,0.838376,0.935543,134,32,0.941844,965.550716

In [2]:
import pandas as pd
df_no_outliers = pd.read_csv('/home/fayari/Stage/data_exploration_2/no_outliers.csv')
df_no_outliers_2 = pd.read_csv('/home/fayari/Stage/data_exploration_2/no_outliers_2.csv')
augmented_data=pd.read_csv('/home/fayari/Stage/data_augmentation/add_training.csv')